# Tuple, List, Type, Pattern Matching

*Some examples in this notebook are taken from BLG458E Functional Programming course slides which can be accessed through the following link: https://www.slideshare.net/uyar/tag/blg458e*

<h2 style="color:red">Tuple</h2>

Tuples can contain different types of data, however size of the tuple is fixed.

In [1]:
dummy_tuple :: (Integer, Float, Integer, Bool)
dummy_tuple = (3, 56.2, 8, True)

If the tuple is a pair (meaning that it has exactly 2 elements), we can use *fst* and *snd* functions.  
* **fst** returns the first element of the tuple
* **snd** returns the second element

In [2]:
hometown :: (String, Integer)
hometown = ("Sivas", 58)

In [3]:
fst hometown

"Sivas"

In [4]:
snd hometown

58

### Passing tuples to functions
Tuples can be sent as parameters to functions and also be returned from functions.  
*Note: passing a tuple as parameter is NOT equal to passing multiple elements.*

In [5]:
gcd :: (Integer, Integer) -> Integer
gcd x = if snd x == 0 then fst x else gcd (snd x, fst x `mod` snd x)

In [6]:
gcd (5,10)

5

In [7]:
gcd (3, 7)

1

### Returning tuples from functions

**Simplification function**:  
Given a tuple (a,b), we simplify it using the following equation:
$$ (a,b) = \left(\frac{a}{gcd(a,b)}, \frac{b}{gcd(a,b)}\right)$$

In [8]:
simplify :: (Integer, Integer) -> (Integer, Integer)
simplify (a, b) = (a `div` g, b `div` g)
  where
    g = gcd (a,b)

In [9]:
simplify (9, 15)

(3,5)

### Type Synonym

We can give a new name to an existing type (like typedef in C)  
*Format*: `type newName = existingType`

In [10]:
type Fraction = (Integer, Integer)

In [11]:
simplify2 :: Fraction -> Fraction
simplify2 (x,y) = (x `div` g, y `div` g)
  where
    g = gcd (x,y)

In [12]:
simplify2 (2,18)

(1,9)

<h2 style="color:red">List</h2>

Lists can contain an arbitrary number of values, however all elements must be of the same type.

In [13]:
li :: [Int]
li = [34, 58, 23, 87, 356, 41]

In [14]:
li

[34,58,23,87,356,41]

#### Ranges
You can use ranges to define lists.  
[a .. b] = [a, a+1, a+2, ... , b]  
[a, p .. n] = [a, p, 2p-a, 3p-a, ... , n]

In [15]:
[5 .. 15]

[5,6,7,8,9,10,11,12,13,14,15]

In [16]:
[1, 3 .. 19]

[1,3,5,7,9,11,13,15,17,19]

In [17]:
['m' .. 'z']

"mnopqrstuvwxyz"

In [18]:
type Term = (Float, Int)
poly :: [Term]
poly = [(34.7, 3), (743.8, 2)]

In [19]:
poly

[(34.7,3),(743.8,2)]

### Useful list functions
**head**: returns the first element of a list  
**tail**: returns all the elements except the first one  
**last**: returns the last element of a list  
**init**: returns all the elements except the last one  
**null**: checks if the list is empty  
**elem**: checks if an element is a member of a list  (usage: elem 'a' "Mustafa")  
**reverse**: returns the list in reverse order  
**replicate**: creates a list containing an item repeated x times (usage: replicate x 'c')  
**take**: return the first n elements of the list (usage: take x li)  
**drop**: drop n elements from the front of the list (usage: drop x li)    
**splitAt**: split the elements at a given index (usage: splitAt x li)    
**concat**: flattens a list  
**zip**: zip [1, 2] "ab" ~> [(1, ’a’), (2, ’b’)]

In [20]:
li

[34,58,23,87,356,41]

In [21]:
head li

34

In [22]:
tail li

[58,23,87,356,41]

In [23]:
last li

41

In [24]:
init li

[34,58,23,87,356]

In [25]:
null li

False

In [26]:
let li2 = []
null li2

True

In [27]:
elem 'a' "Mustafa"
elem 'b' "Mustafa"
elem 'A' "Mustafa"

True

False

False

In [28]:
replicate 15 'a'

"aaaaaaaaaaaaaaa"

In [29]:
concat [[1,2], [], [4]]

[1,2,4]

In [30]:
zip [1,2,3,4,5] [9,8,7,6,5]

[(1,9),(2,8),(3,7),(4,6),(5,5)]

#### Index Function (!!)

* returns the element in the given index

In [31]:
li3 :: [Float]
li3 = [3.5, 6.32, 9.83]

li3 !! 2  -- returns the element in index 2

9.83

#### Append Function (:)

* takes an item and a list
* adds the item to the list.
* a right-associative function
* equivalent to append() function in Python

In [32]:
my_list :: [Int]
my_list = [1,9,4]

In [33]:
my_list

[1,9,4]

In [34]:
5 : my_list  -- not the same as my_list : 5 which would give an error

[5,1,9,4]

You can also append to an empty list

In [35]:
1453 : 1773 : []

Line 1: Use list literal
Found:
1453 : 1773 : []
Why not:
[1453, 1773]

[1453,1773]

#### List Concatenation (++)

* takes two lists
* returns a list which is a concatenation of the given lists

In [36]:
li_x :: [Int]
li_x = [1,2,3]

li_y :: [Int]
li_y = [9,8,7]

li_x ++ li_y

[1,2,3,9,8,7]

#### Length Function

* returns the length of a list
* equivalent to **len()** in Python

In [37]:
length li_x

3

Let's write a function that returns the sum of the first and second elements in a list.

In [38]:
firstAndSecond :: [Int] -> Int
firstAndSecond xs 
  | length xs < 2  = error "list size is less than 2"
  | otherwise      = xs !! 0 + xs !! 1

### String
A string is nothing but a list of characters, therefore you can use any list function on strings.

In [39]:
name :: String
name = "Mustafa"

In [40]:
head name

'M'

In [41]:
tail name

"ustafa"

In [42]:
null name

False

In [43]:
length name

7

In [44]:
name !! 3

't'

In [45]:
name ++ "Coban"

"MustafaCoban"

In [46]:
'?' : name

"?Mustafa"

<h2 style="color:red">Algebraic Data Types</h2>

Instead of using types like Int, Float, etc. we can introduce our own data types.   

For example, Bool type can be defined as `data Bool = False | True`.  
Here the **type** is Bool and the **value constructors** are True and False. These two are the values that a Bool can have.  

### 1-) Enumerated Types

This is just like **enum** in programming languages such as C or Java. 

For example, we can introduce a new type for seasons that can only have 4 different values: Winter, Spring, Summer, and Fall as below.  

```haskell 
data Season = Winter | Spring | Summer | Fall
```

In [47]:
data Season = Winter | Spring | Summer | Fall
              deriving Show  
              
-- we put this "deriving Show" thing in order to be able to print these values
 
-- now we have a type called Season
-- let's create a variable of type Season

currentSeason :: Season
currentSeason = Winter

In [48]:
currentSeason  

-- if you don't include "deriving Show" in the type definition,
-- this statement raises an error

Winter

### 2-) Product Types

Instead of using tuples to represent entities, we can use product types.  
At the beginning of this notebook, in order to represent my hometown, I used the following notation:  
```haskell
hometown :: (String, Integer)
hometown = ("Sivas", 58)
```
Instead of using a tuple, I can represent this using a product type as below.
```haskell
data City = City String Integer
```
So as to construct an element of type Hometown, a string and an Integer must be supplied.  
As you may guess, this is a *Constructor* just like what we have in OOP languages. 

There can be more than one constructor as well.

*Note: Constructor name can be the same as or different from the type name*

In [49]:
data City = City String Integer
                deriving Show

hometown :: City
hometown = City "Sivas" 58

hometown

City "Sivas" 58

In [50]:
best_city :: City
best_city = City "Istanbul" 34

best_city

City "Istanbul" 34

Let's also see an example where we have more than one constructor.

In [51]:
data Shape = Point (Float, Float)         -- float1: x coordinate, float2: y coordinate 
           | Circle (Float, Float) Float  -- float3: radius
           | Rectangle (Float, Float) Float Float -- float3: height, float4: width
             deriving Show

In [52]:
point_1 :: Shape
point_1 = Point (3.2, 5.4)

point_1

Point (3.2,5.4)

In [53]:
circle_1 :: Shape
circle_1 = Circle (4.3,5.6) 34.3

### 3-) Record Types
In product types, we can write names of the fields in the constructors, which makes it more readable.  
Another advantage is that all so-called *getter* functions are automatically created for the attributes.

In [54]:
data Person = Student {name :: String, 
                       school :: String,
                       gpa :: Float}
              deriving Show
              
me :: Person
me = Student {name="Mustafa", school="ITU", gpa=3.99}

In [55]:
me

Student {name = "Mustafa", school = "ITU", gpa = 3.99}

In [56]:
gpa me

3.99

In [57]:
school me

"ITU"

<h2 style="color:red">Pattern Matching</h2>

* We can check expressions against patterns
* The first matched pattern is used.

Format:  
**case** *exp* **of**  
&nbsp;&nbsp;&nbsp;&nbsp;pattern1 -> expression1  
&nbsp;&nbsp;&nbsp;&nbsp;pattern2 -> expression2  
&nbsp;&nbsp;&nbsp;&nbsp;...  
&nbsp;&nbsp;&nbsp;&nbsp;_ -> e

Here we compare exp and patterns, as soon as we one of the patterns matches, we evaluate the expression of the matched pattern.

When patterns are matched, name bindings are created.

*Note*: _ pattern (aka wildcard) at the end matches any expression (just like *otherwise* guards), so if no pattern is matched, this last expression is evaluated.

In [58]:
-- Literal value pattern
my_gcd :: Int -> Int -> Int
my_gcd x y = case y of
  0 -> x                    -- if y == 0, then return x
  _ -> my_gcd y (x `mod` y)    -- in any other case, evaluate this line
  
my_gcd 10 4

2

In [59]:
-- Tuple pattern
gcd' :: (Int, Int) -> Int
gcd' a = case a of 
  (x, 0) -> x
  (x, y) -> gcd'(y, x `mod` y)

gcd' (10, 4)

2

In [60]:
-- nested patterns

shift :: ((Int, Int), Int) -> (Int, (Int, Int))
shift a = case a of
  ((x,y), z) -> (x, (y,z))

shift ((3,5),2)

(3,(5,2))

In [61]:
-- when you don't need a binding, use wildcard notation "_"

third :: (Int, Int, Int) -> Int
third a = case a of
  (_, _, t) -> t
  
third (3,5,6)

6

### List Patterns

* empty list = [ ]
* nonempty list = x:xs
* list with exactly one element = [x]
* list with exactly two elements = [x1, x2]
* list with at least two elements = x1:x2:xs

In [62]:
len :: [a] -> Int
len x = case x of
  []   -> 0
  x':xs -> 1 + len xs

len [2,4,7]

3

In [63]:
firstPlusThird :: [Int] -> Int
firstPlusThird a = case a of
  []        -> 0
  [x1]      -> x1
  [x1, _]   -> x1
  x1:_:x3:_ -> x1 + x3

firstPlusThird [7,3,9,1,5,6]

16

In [64]:
checkNondecreasing :: [Int] -> Bool
checkNondecreasing a = case a of 
  []       -> error "empty list"
  [_]      -> True
  x1:x2:xs -> x2 >= x1 && checkNondecreasing (x2:xs)  -- this creates a new list

In [65]:
checkNondecreasing [2,5,5,7]
checkNondecreasing [2,5,5,3]

True

False

In the checkNondecreasing function, (x2:xs) creates a new list and then passes it to the next function.  
If you don't need to create a new list, you can use '@' as below.

In [66]:
checkNondecreasing2 :: [Int] -> Bool
checkNondecreasing2 a = case a of
  []       -> error "empty list"
  [_]      -> True
  x1:xs@(x2:_)-> x2 >= x1 && checkNondecreasing xs

Pattern matching can also be used to get the values in the algebraic types.

In [67]:
data Person = Person String Integer
              deriving Show

getName :: Person -> String
getName p = case p of
  Person name _ -> name
  
him :: Person
him = Person "Bob" 1958

getName him

"Bob"

Parameter pattern matching can also be used as follows.

In [68]:
-- gcd with 2 integer parameters

gcd2 :: Integer -> Integer -> Integer
gcd2 x 0 = x
gcd2 x y = gcd2 y (x `mod` y)

-- gcd with a tuple parameter
gcdT :: (Integer, Integer) -> Integer
gcdT (x, 0) = x
gcdT (x, y) = gcdT (y, (x `mod` y))


gcd2 10 4
gcdT (10,4)

2

2

**Exercise: write your own zip3 function**

In [69]:
zip33 :: [a] -> [b] -> [c] -> [(a,b,c)]
zip33 [] [] [] = []
zip33 (x:xs) (y:ys) (z:zs) = (x,y,z) : zip33 xs ys zs

In [70]:
zip33 [1,2,3] [10,20,30] [100,200,300]

[(1,10,100),(2,20,200),(3,30,300)]

**Exercise: write your own unzip function**

In [71]:
my_unzip :: [(a,b)] -> ([a], [b])
my_unzip []     = ([], [])
my_unzip ((x,y):xys) = (x : xs, y : ys)
  where
    (xs, ys) = my_unzip xys

In [72]:
merg :: [Int] -> [Int] -> [Int]
merg [] [] = []
merg (x:xs) [] = (x:xs)
merg [] (y:ys) = (y:ys)
merg (x:xs) (y:ys) = if x <= y then x : merg xs (y:ys) else y : merg (x:xs) ys

In [73]:
merg [1,3,4,5] [2,6,8,9]

[1,2,3,4,5,6,8,9]